DEPLOY_USER=root
DEPLOY_HOST=159.194.208.82
DEPLOY_PORT=22

# Если вход по ключу, укажи путь. Иначе оставь пустым и будет обычный ssh/scp.
DEPLOY_KEY_PATH=

REMOTE_APP_DIR=/root/stud-pod
REMOTE_ARCHIVE=/root/stud-pod-deploy.tar.gz

# Для optional HTTPS-настройки
DEPLOY_DOMAIN=
DEPLOY_EMAIL=
DEPLOY_ALIAS_DOMAIN=
